/****************************************Ò³Í·°×ÔÆ¶¯»­  css****************************************/

.sky {
    background: #0099ff;
    position: relative;
    overflow: hidden;
-webkit-animation: sky_background 50s ease-out infinite;
    -moz-animation: sky_background 50s ease-out infinite;
    -o-animation: sky_background 50s ease-out infinite;
    animation: sky_background 50s ease-out infinite;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.clouds_one {
    background: url("../images/11.png");
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 300%;
    -webkit-animation: cloud_one 50s linear infinite;
    -moz-animation: cloud_one 50s linear infinite;
    -o-animation: cloud_one 50s linear infinite;
    animation: cloud_one 50s linear infinite;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.clouds_two {
    background: url("../images/22.png");
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 300%;
    -webkit-animation: cloud_two 75s linear infinite;
    -moz-animation: cloud_two 75s linear infinite;
    -o-animation: cloud_two 75s linear infinite;
    animation: cloud_two 75s linear infinite;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.clouds_three {
    background: url("../images/33.png");
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 300%;
    -webkit-animation: cloud_three 100s linear infinite;
    -moz-animation: cloud_three 100s linear infinite;
    -o-animation: cloud_three 100s linear infinite;
    animation: cloud_three 100s linear infinite;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}


@-webkit-keyframes cloud_one {
    0% {
        left: 0
    }
    100% {
        left: -200%
    }
}
@-moz-keyframes cloud_one {
    0% {
        left: 0
    }
    100% {
        left: -200%
    }
}
@keyframes cloud_one {
    0% {
        left: 0
    }
    100% {
        left: -200%
    }
}

@-webkit-keyframes cloud_two {
    0% {
        left: 0
    }
    100% {
        left: -200%
    }
}
@-moz-keyframes cloud_two {
    0% {
        left: 0
    }
    100% {
        left: -200%
    }
}
@keyframes cloud_two {
    0% {
        left: 0
    }
    100% {
        left: -200%
    }
}

@-webkit-keyframes cloud_three {
    0% {
        left: 0
    }
    100% {
        left: -200%
    }
}
@-moz-keyframes cloud_three {
    0% {
        left: 0
    }
    100% {
        left: -200%
    }
}
@keyframes cloud_three {
    0% {
        left: 0
    }
    100% {
        left: -200%
    }
}





/****************************************map  css****************************************/
.h_d_02{
    min-width: 1200px;
    height:730px;
    background:url(../theme/bg/index_310.jpg) center no-repeat ;
    background-color:#996699;
}
.h_d_02>.wrap{
   min-width: 1200px;
    height:730px;
    z-index:99;
    position:relative;
}
@-webkit-keyframes circle{
    0%{box-shadow: 0 0 0  0 #0f0;}
    100%{box-shadow: 0 0 12px  6px #0f0;}
}
@-moz-keyframes circle{
    0%{box-shadow: 0 0 0  0 #0f0;}
    100%{box-shadow: 0 0 12px  6px #0f0;}
}
@-o-keyframes circle{
    0%{box-shadow: 0 0 0  0 #0f0;}
    100%{box-shadow: 0 0 12px  6px #0f0;}
}
@keyframes circle{
    0%{box-shadow: 0 0 0  0 #0f0;}
    100%{box-shadow: 0 0 12px  6px #0f0;}
}
.h_d_02>.wrap button{
    outline: none;
    width: 24px;
    height: 24px;
    border: 5px solid #0f0;
    border-radius:50%;
    background-color:#;
    position: absolute;
    cursor: pointer;
    animation: circle .7s infinite alternate;
    -webkit-animation: circle .7s infinite alternate;
    -moz-animation: circle .7s infinite alternate;
    -o-animation: circle .7s infinite alternate;
}

.map01{top:57%;left:10%;}
.map02{top:53%;left:27%;}
.map03{top:51%;left:9%;}
.map04{top:46%;left:50%;}
.map05{top:44%;left:10%;}
.map06{top:24%;left:86%;}
.map07{top:31%;left:57%;}
.map08{top:26%;left:69%;}
.map09{top:32%;left:71%;}
.map10{top:50%;left:35%;}
.map11{top:40%;left:70%;}
.map12{top:40%;left:32%;}
.map13{top:37%;left:45%;}
.map14{top:41%;left:59%;}
.map15{top:41%;left:66%;}
.map16{top:37%;left:76%;}
.map17{top:26%;left:78%;}
.map18{top:42%;left:75%;}
.map_detail{
    width: 0;
    height:0;
    overflow: hidden;
    border:0 solid #f0f;
    border-radius:30px;
    padding:0;
    background: rgba(255,255,255,.8);
    z-index:999;
    opacity: 0;
    transition:all 0.5s;
}
.map_detail h1{font-weight: bold}

.map_detail p{
    text-align: left;
    text-indent:2em;
    font-size:14px;
    line-height: 22px;
    color:#330066;
}
.map_detail p img{
    margin-top: 15px;
    width: 200px;
    height:120px;
    margin-left: 20px;
}
.h_d_02>.wrap button .map_detail{
    position: absolute;
    top:0;
    left: 0;
}
.h_d_02>.wrap>button:hover .map_detail{
    width: 240px;
    height: 285px;
    border:6px solid #f0f;
    padding:10px;
    opacity: 1;
    top:-128px;
    left: -140px;
}

.n_banner{margin-top:170px}